@import "evil-front"

$color: #0080e0

.slide.shout
  background: $color
  h2
    line-height: 1.4
    font-family: 'Open Sans', sans-serif

.slide.is-title
  h2
    font-size: 32px
    strong
      display: block
      font-weight: normal
      font-size: 350%
      line-height: 1.35
      position: relative
      left: -7px
  img
    position: absolute
    top: 105px
    right: 130px
    width: 150px
  em
    font-family: "Open Sans Light"
    font-style: normal
    position: absolute
    bottom: 90px

.slide.is-bottom
  h2
    position: absolute
    bottom: 10px

.slide.is-black
  h2
    +stroke-text(white)
    color: black
    em
      color: black

.slide.with-2-sides
  pre, p
    float: left
    clear: left
    width: 350px
    &:nth-of-type(2)
      float: right
      clear: right

.slide.with-2-codes
  pre
    float: left
    clear: left
    width: 350px
    &:nth-of-type(2)
      float: right
      clear: right

.slide.with-bigger-right
  pre, p
    width: 260px
    &:nth-of-type(2)
      width: 440px

.slide.is-browsers
  p
    text-align: center
    padding-top: 100px
  img
    display: inline-block
    vertical-align: top
    padding: 0 25px

.slide.with-huge-code
  pre
    column-count: 3
    font-size: 22%
    font-weight: bold
    mark.important
      padding: 0
    code
      line-height: 1.3

.slide.with-small-code
  pre
    font-size: 70%
    code
      line-height: 1.8

.slide.with-smaller-code
  pre
    font-size: 55%
    code
      line-height: 1.8

.slide.with-em
  img
    position: absolute
    bottom: 60px
    width: 250px
    opacity: 0.25

.slide.with-evolution
  strong
    color: $color

.slide.with-difference
  .arrow
    position: absolute
    top: 164px
    left: 366px
    font-size: 200%
    color: $color
  p, ul
    position: absolute
    width: 350px
    &:nth-of-type(2)
      left: 560px
  p
    top: 186px
    font-size: 130%
  ul
    top: 282px

.evolution
  height: 300px
  width: 650px
  margin: 0 auto
  position: relative
  font-size: 140%
  &_top, &_right, &_left
    position: absolute
    width: 235px
    text-align: center
    line-height: 1.4
  &_top
    top: 0
    left: 50%
    transform: translateX(-50%)
  &_right
    top: 244px
    right: 0
  &_left
    top: 244px
    left: 0
  &_first, &_second, &_third
    font-size: 170%
    position: absolute
    color: $color
  &_first
    top: 30%
    left: 65%
    transform: rotate(60deg)
  &_second
    bottom: -34px
    left: 55%
    transform: translateX(-50%) rotate(180deg)
  &.is-postcss .evolution_second
    left: 51%
  &_third
    top: 30%
    right: 65%
    transform: rotate(-60deg)

.compare
  padding-top: 60px
  &.is-long
    padding-top: 0
  &_part
    clear: left
    padding-top: 20px
  &_title
    float: left
    width: 100px
    text-align: right
  &_line
    float: left
    height: 30px
    background: #b0b0b0
    margin: 10px 0 0 20px
  &_value
    float: left
    font-size: 55%
    margin: 11px 0 0 15px

.compare_part.is-postcss .compare_line
  background: $color
  width: 600px * (36 / 1153)
.compare_part.is-libsass .compare_line
  width: 600px * (109 / 1153)
.compare_part.is-less .compare_line
  width: 600px * (150 / 1153)
.compare_part.is-stylus .compare_line
  width: 600px * (283 / 1153)
.compare_part.is-sass .compare_line
  width: 600px * (1153 / 1153)

.postprocessing
  position: relative
  margin: 0 auto
  width: 186px
  &_step
    +height(40px)
    border: 1px solid
    text-align: center
    position: relative
    width: 180px
    margin-top: 28px
    margin-left: 3px
    &:after
      content: "↓"
      font-size: 80%
      color: black
      position: absolute
      top: -38px
      left: 85px
    &:first-child
      margin-top: 0
      &:after
        display: none
    &.is-css
      padding: 0
      height: auto
      line-height: 1.1
      border: none
      &:after
        top: -27px
    &.is-important
      padding: 0
      color: $color
      border-width: 4px
      margin-left: 0
      font-weight: bold
      &:after
        top: -40px
  &_position
    position: relative
  &_note
    position: absolute
    top: 9px
    left: 15px
    font-size: 65%
    white-space: nowrap

.post-inside
  margin-top: 120px
  text-align: center
  font-size: 110%
  position: relative
  &.with-sass
    left: 40px
  .position
    position: relative
    display: inline-block
  .css, .processor, .arrow
    display: inline-block
  .css
    padding: 9px 0
    position: relative
  .map
    position: absolute
    top: 100%
    left: 0
    font-size: 66%
    margin-top: -0.4em
    white-space: nowrap
  .arrow
    padding: 0 20px
    font-size: 165%
    position: relative
  .processor-title
    position: absolute
    bottom: 100%
    left: 0
    right: 0
    text-align: center
    color: #52a2df
    font-weight: bold
  .processor
    color: #52a2df
    border: 4px solid
    width: 7em
    text-align: center
    font-weight: bold
    padding: 0.1em 0
  .down, .up
    font-size: 165%
    position: absolute
    top: 100%
    width: (1em / 1.65)
    text-align: center
  .arrow-text
    position: absolute
    top: 38%
    font-size: 40%
    white-space: nowrap
  .down
    left: (3em / 1.65)
    .arrow-text
      right: 125%
  .up
    right: (3em / 1.65)
    .arrow-text
      left: 125%
  .code
    position: absolute
    top: 100%
    left: 0
    right: 0
    margin-top: 4em
    text-align: center
    border: 2px solid
    box-sizing: border-box
  .parser
    margin-right: 10px
  .preprocessor
    position: absolute
    top: 0.95em
    left: -5em
    +clearfix
    color: #52a2df
    .arrow
      top: -0.55em
  .sass
    float: left
    font-weight: bold
